<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Demo Site</title>
</head>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form class="card w-150 my-3">
        <div class="card-header d-flex justify-content-between">
            <label>번호: [[${postDto.id}]]</label>
            <label th:inline="text">[[${postDto.createdDate}]]</label>
        </div>
        <div class="card-header d-flex justify-content-between">
            <label>작성자: [[${postDto.writer}]]</label>
            <label><i class=" bi bi-eye-fill"> 조회수: [[${postDto.view}]]</i></label>
        </div>
        <div class="card-body">
            <label type="text" class="form-control" th:text="${postDto.title}"></label>
            <br/>
            <textarea rows="5" class="form-control" th:text="${postDto.content}" readonly></textarea>
        </div>
    </form>
    <form id="delete-form" th:action="@{'/posts/' + ${postDto.id}}" method="post" style="text-align: center;">

        <a href="/" role="button" class="btn btn-info bi bi-arrow-return-left"> 목록</a>
        <a th:href="@{'/posts/edit/' + ${postDto.id}}" th:if="${writer} == true" role="button" class="btn btn-primary bi bi-pencil-square"> 수정</a>
        <input type="hidden" name="_method" value="delete"/>
        <button th:if="${writer} == true" id="btn-delete" class="btn btn-danger bi bi-trash"> 삭제</button>
    </form>
    <div th:if="${comments} != null" th:replace="comment/list :: commentlist"/>
    <div th:replace="comment/form :: commentForm"/>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>