<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Demo Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron my-5">
        <div>
            <table class="table table-hover table-striped text-center ">
                <thead class="table-primary">
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>조회수</th>
                <th>등록일</th>
                </thead>

                <tbody>
                <tr th:each="post : ${posts}">
                    <td>
                        <span th:text="${post.id}"></span>
                    </td>
                    <td>
                        <a th:href="@{'/posts/' + ${post.id}}" style="text-decoration: none;">
                            <span th:text="${post.title}"></span>
                        </a>
                    </td>
                    <td>
                        <span th:text="${post.writer}"></span>
                    </td>
                    <td>
                        <span th:text="${post.view}"></span>
                    </td>
                    <td>
                        <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a href="/posts/new" class="btn btn-secondary btn-sm" style="float:right">글쓰기</a>
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li th:each="pageNum : ${pageList}" class="page-item">
                        <a class="page-link" th:if="${pageNum} != null" th:href="@{'/?page=' + ${pageNum}}">[[${pageNum}]]</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>