<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Demo Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron my-5">
        <div>
            <table class="table table-hover table-striped text-center ">
                <thead class="table-primary">
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>조회수</th>
                <th>등록일</th>
                </thead>

                <tbody>
                <tr th:each="post : ${posts}">
                    <td>
                        <span th:text="${post.id}"></span>
                    </td>
                    <td>
                        <a th:href="@{'/posts/' + ${post.id}}" style="text-decoration: none;">
                            <span th:text="${post.title}" ></span>
                        </a>
                    </td>
                    <td>
                        <span th:text="${post.writer}"></span>
                    </td>
                    <td>
                        <span th:text="${post.view}"></span>
                    </td>
                    <td>
                        <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a href="/posts/new" class="btn btn-secondary btn-sm" style="float:right">글쓰기</a>
            <ul class="pagination justify-content-center">
                <li><a href="#" style="text-decoration: none; margin-right: 5px;" class="text-secondary"> ◀ </a></li>
                <li><a href="#" style="text-decoration: none; margin-right: 5px;" class="text-secondary"> 1 </a></li>
                <li><a href="#" style="text-decoration: none; margin-right: 5px;" class="text-secondary"> 2 </a></li>
                <li><a href="#" style="text-decoration: none; margin-right: 5px;" class="text-secondary"> 3 </a></li>
                <li><a href="#" style="text-decoration: none; margin-right: 5px;" class="text-secondary"> 4 </a></li>
                <li><a href="#" style="text-decoration: none; margin-right: 5px;" class="text-secondary"> 5 </a></li>
                <li><a href="#" style="text-decoration: none; margin-right: 5px;" class="text-secondary"> ▶ </a></li>
            </ul>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>