<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="comments" th:fragment="commentForm">
    <br/>
    <div class="card">
        <div class="card-header bi bi-chat-right-dots"> Write a Comment</div>
        <form th:object="${postDto}" th:action="@{'/posts/' + ${postDto.id} + '/comments'}" method="post">
            <input type="hidden" id="postsId" th:value="${postDto.id}">
            <div th:if="${user != null}">
                <div class="card-body">
                    <textarea name="comment" id="comment" class="form-control" rows="4"
                              placeholder="댓글을 입력하세요"></textarea>
                </div>
                <div class="card-footer">
                    <button type="button" id="btn-comment-save" onclick="main.commentSave()"
                            class="btn btn-outline-primary bi bi-pencil-square"> 등록
                    </button>
                </div>
            </div>
            <div th:if="${user == null}">
                <div class="card-body" style="font-size: small"><a href="/auth/login">로그인</a>을 하시면 댓글을 등록할 수 있습니다.
                </div>
            </div>
        </form>
    </div>
</div>

